{{>partials/header}}
<div class="form">
 
        <form action="#">
            <h4>Dados Pessoais</h4>
 
            <div class="input-group">
 
                <div class="input-box">
                    <label for="">Gestante</label>
                    <input id="name" type="checkbox" name="">
                </div>
 
                <div class="input-box">
                    <label for="">Osteoprose</label>
                    <input id="date" type="checkbox" name="">
                </div>
 
                <div class="input-box">
                    <label for="a">Renal</label>
                    <input id="adrress" type="checkbox" name="">
                </div>
 
                <div class="input-box">
                    <label for="city">Espilepsia</label>
                    <input id="city" type="checkbox" name="">
                </div>
 
                <div class="input-box">
                    <label for="state">Quimioterapia/Radioterapia</label>
                    <input id="state" type="checkbox" name="">
                </div>
 
                <div class="input-box">
                    <label for="cep">Hipotiroidiso</label>
                    <input id="cep" type="checkbox" name="">
                </div>
 
                <div class="input-box">
                    <label for="homePhone">Hepnatite</label>
                    <input id="homePhone" type="checkbox" name="">
                </div>
 
                <div class="input-box">
                    <label for="phone">Antecendente Oncológico</label>
                    <input id="phone" type="checkbox" name="">
                </div>
 
                <div class="input-box">
                    <label for="emergencyPhone">Cardiopatia</label>
                    <input id="emergencyPhone" type="checkbox" name="">
                </div>
 
                <div class="input-box">
                    <label for="emergencyPhone">Hipertensão</label>
                    <input id="emergencyPhone" type="checkbox" name="">
                </div>
 
                <div class="input-box">
                    <label for="emergencyPhone">Reumatismo</label>
                    <input id="emergencyPhone" type="checkbox" name="">
                </div>
 
                <div class="input-box">
                    <label for="emergencyPhone">Hanseniase</label>
                    <input id="emergencyPhone" type="checkbox" name="">
                </div>
 
                <div class="input-box">
                    <label for="emergencyPhone">Cirurgia MMII</label>
                    <input id="emergencyPhone" type="checkbox" name="">
                </div>
 
                <div class="input-box">
                    <label for="emergencyPhone">Marca passo</label>
                    <input id="emergencyPhone" type="checkbox" name="">
                </div>
 
                <div class="input-box">
                    <label for="emergencyPhone">Hipotensão</label>
                    <input id="emergencyPhone" type="checkbox" name="">
                </div>
 
                <div class="input-box">
                    <label for="emergencyPhone">Alterações ou conprometimento vascular</label>
                    <input id="emergencyPhone" type="checkbox" name="">
                </div>
            </div>
 
          <!--segunda parte -->
 
           
          <div class="container mt-4">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label class="form-label me-2">Hipotensão:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="hipotensaoSim" name="hipotensao">
                        <label class="form-check-label" for="hipotensaoSim">Sim</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="hipotensaoNao" name="hipotensao">
                        <label class="form-check-label" for="hipotensaoNao">Não</label>
                    </div>
                </div>
       
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label class="form-label me-2">Insulina:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="insulinaSim" name="insulina">
                        <label class="form-check-label" for="insulinaSim">Sim</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="insulinaNao" name="insulina">
                        <label class="form-check-label" for="insulinaNao">Não</label>
                    </div>
                </div>
       
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label class="form-label me-2">Dieta Hídrica:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="dietaIdricaSim" name="dietaIdrica">
                        <label class="form-check-label" for="dietaIdricaSim">Sim</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="dietaIdricaNao" name="dietaIdrica">
                        <label class="form-check-label" for="dietaIdricaNao">Não</label>
                    </div>
                </div>
       
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label class="form-label me-2" for="injetavel">Injetável:</label>
                    <input class="form-check-input" type="checkbox" id="injetavel" name="injetavel">
                </div>
       
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label class="form-label me-2" for="dietaAlimentar">Dieta Alimentar:</label>
                    <input class="form-check-input" type="checkbox" id="dietaAlimentar" name="dietaAlimentar">
                </div>
       
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label class="form-label me-2" for="viaOral">Via Oral:</label>
                    <input class="form-check-input" type="checkbox" id="viaOral" name="viaOral">
                </div>
       
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label class="form-label me-2" for="taxaGlinica">Taxa Glicêmica:</label>
                    <input type="text" class="form-control w-50" id="taxaGlinica" placeholder="__/__/____">
                </div>
            </div>
        </div>
       
       
 
 
       
 
 
        </form>
    </div>
 
    <button class="btn-send">
        <a href="dadosgerais.mustache">Enviar</a>
    </button>
{{>partials/footer}}