{{>partials/header}}
<div class="form">

        <form action="#">
            <h4>Dados Gerais</h4>

            <div class="input-box">
                <label for="question">Queixa principal:</label>
                <input type="text">
            </div>


            <div class="input-box">
                <div class="gender-input">
                    <label for="gender-ortopedica">Costuma ir ao podólogo?</label>
                    <input type="radio" name="tipo" id="gender-ortopedica" value="Ortopédica">
                    <label for="gender-ortopedica">Sim</label>
                
                    <input type="radio" name="tipo" id="gender-descanso" value="Descanso">
                    <label for="gender-descanso">Não</label>
                </div>
                
                

                <div class="gender-input">
                    <label for="frequence">Com qual frequência?</label>
                    <input type="text">
                </div>
                <div class="gender-input">
                    <label for="gender-ortopedica">Faz uso de medicamentos?</label>
                    <input type="radio" name="tipo" id="gender-ortopedica" value="Ortopédica">
                    <label for="gender-ortopedica">Sim</label>
                
                    <input type="radio" name="tipo" id="gender-descanso" value="Descanso">
                    <label for="gender-descanso">não</label>
                    <div class="text-input">
                        <label for="extra-info">Quais?</label>
                        <input type="text" id="extra-info" placeholder="">
                    </div>
                </div>
                
                

                <div class="gender-input">
                    <label for="gender-ortopedica">Alérgico?</label>
                    <input type="radio" name="tipo" id="gender-ortopedica" value="Ortopédica">
                    <label for="gender-ortopedica">Sim</label>
                
                    <input type="radio" name="tipo" id="gender-descanso" value="Descanso">
                    <label for="gender-descanso">Não</label>
                </div>
                
                

                <div class="gender-input">
                    <label for="">Quais substâncias?</label>
                    <input type="text" name="" id="">
                </div>
                <div class="gender-input">
                    <label for="job-position">Posição de trabalho:</label>
                    <label for="standing">Em pé</label>
                    <input type="checkbox" name="" id="">
                    <label for="sitting">Sentado</label>
                    <input type="checkbox" name="" id="">
                    <label for="walking">Andando</label>
                    <input type="checkbox" name="" id="">
                    <label for="duration">Duração</label>
                    <input type="checkbox" name="" id="">
                    <label for="hs">hs</label>
                    <input type="checkbox" name="" id="">
                </div>

                <br>

                <div class="gender-input">
                    <label for="">Passa a maior parte do tempo:</label>
                    <input type="checkbox">
                    <label for="standing">Em pé</label>
                    <input type="checkbox" name="standing">
                    <label for="sitting">Sentado</label>
                    <input type="checkbox" name="walking" id="">
                    <label for="">Caminhando</label>
                </div>

                <div class="gander-input">
                    <label for="">N° do calçado</label>
                    <input type="text" name="" id="" placeholder="32/33">
                </div>
                <div class="gander-input">
                    <label for="">Tipo de calçado de uso diário</label>
                    <input type="text" name="" id="" placeholder="Chinelo, Tênis">
                </div>
                
                
                <div class="gender-input">
                    <label for="gender-ortopedica">Qual?</label>
                    <input type="radio" name="tipo" id="gender-ortopedica" value="Ortopédica">
                    <label for="gender-ortopedica">Ortopédica</label>
                
                    <input type="radio" name="tipo" id="gender-descanso" value="Descanso">
                    <label for="gender-descanso">Descanso</label>
                </div>
                
                <div class="gander-input">
                    <label for="">É fumante?</label>

                    <input type="radio" name="yes" id="">
                    <label for="yes">Sim</label>

                    <input type="radio" name="no" id="">
                    <label for="no">Não</label>
                </div>

                <div class="gander-input">
                    <label for="">Ciclo de menstruação regular?</label>

                    <input type="radio" name="yes" id="">
                    <label for="yes">Sim</label>

                    <input type="radio" name="no" id="">
                    <label for="no">Não</label>
                </div>

                <div class="gander-input">
                    <label for="">Está gestante?</label>

                    <input type="radio" name="yes" id="">
                    <label for="yes">Sim</label>

                    <input type="radio" name="no" id="">
                    <label for="no">Não</label>
                </div>

                <div class="gender-input">
                    <label for="">Está amamentando?</label>
                    <input type="radio" name="yes" id="">
                    <label for="yes">Sim</label>

                    <input type="radio" name="no" id="">
                    <label for="no">Não</label>
                </div>

                <div class="gender-input">
                    <label for="DUM">DUM</label>
                    <input type="date" name="" id="">
                </div>

                <div class="gander-input">
                    <label for="">Pratica atividade física?</label>

                    <input type="radio" name="yes" id="">
                    <label for="yes">Sim</label>

                    <input type="radio" name="no" id="">
                    <label for="no">Não</label>

                    <label for="frequence">Frequência?</label>
                    <input type="text" name="frequence" id="" placeholder="Três vezes na semana">

                    <label for="frequence">Qual esporte e tipo de calçado?</label>
                    <input type="text" name="frequence" id="" placeholder="Esporte">
                    <input type="text" name="frequence" id="" placeholder="Calçado">

                </div>
            </div>
        </form>
    </div>
{{>partials/footer}}