
{{>partials/header}}
 <div class="form">
        <form action="#" >
            <h4 class="text-center mb-4">LOGIN</h4>
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Digite seu E-mail</label>
                  <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Senha</label>
                  <input type="password" class="form-control form-control-lg" id="exampleInputPassword1">
                </div>
                
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                </div>
              </div>
            </div>
          </form>
    </div>

    {{>partials/footer}}